.table-header {
    background-color: $menuBackground;
    border-bottom: solid 2px $menuBackground;
    color: $menuText;
    font-weight: normal;
    font-family: $font;
    padding: 8px;
    padding-right: 16px;
    border-color: white;
}

.table-body {
    padding: 2px;
    border: solid 1px black;
    background-color: white;
    font-family: $font;
    font-weight: normal;
    overflow: auto;
}

.whole-table {
    width: 100%;
    border: solid 1px black;
}

.search-bar {
    width: 100%;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
}

.controls1 {
    display: flex;
}

.spaceright {
    padding-right: 6px;
}