.search-bar-font {
    font-family: $font;
    font-size: $m-size;
    color:$menuBackground;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    margin-right: 4px;
}

.search-bar-global {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding: 6px;
}