html {
    font-size: 62.5%;
}

body {
    font-family: $font;
    font-size: $m-size;
    background: $background;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

input[type="file"] {
    display: none;
}