//Colors
$menuBackground: #2e353d;
$menuText: #e1ffff;
$menuHover: #4f5b69;
$background: #f0f0f0;
$highlightColor: yellow;
$activeBackgroundColor: lightblue;
$outlineColor: #dfdfdf;
$cardHeaderColor: #f7f7f7;
$liHoverColor: #20a0ff;

//Spacing
$xl-size: 4.8rem;
$l-size: 3.2rem;
$m-size: 1.6rem;
$s-size: 1.2rem;
$desktop-breakpoint: 45rem;

//Font
$font: Helvetica, Arial, sans-serif;